*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
	overflow-x: hidden;
    font-size: $fontz;
    font-family: 'Roboto', sans-serif;

    
}

html{
	font-size: 62.5%;
}


.estilo{
    font-size: 30px;
    text-align: center;
    color: crimson;
}
h1 {
    @extend .estilo
}

$mapRedes:(facebook:blue, instagram: violet,youtube:red);

@each $red in $mapRedes {
    .#{$red} {
        color: $color;
    }

}
    
